{% extends "base.html" %}
{% load static %}
{% block page-title %}{% endblock page-title %}

{% block content %}

		<!-- Main Content -->
		<main class="main">
			<div class="container mb-2">
				<!-- Banner customer suport -->
				{% include "./inc/banner-customer-services.html" %}
				<!-- Banner customer suport -->
				<div class="row">

					<!-- Content -->
					<div class="col-lg-9">
						<!-- Home slider -->
						{% include "./inc/slider-home.html" %}
						<!-- End Home slider -->

						<!-- Banner promo -->
						{% include "./inc/banner-promo.html" %}
						<!-- End Banner promo -->

						<!-- Slider featured products -->
						{% include "./inc/slider-featured-products.html" %}
						<!-- End Slider featured products -->

						<!-- Banner brands -->
						{% include "./inc/banner-brands.html" %}
						<!-- Banner brands -->

						<!-- Product widgets -->
						{% include "./inc/product-widgets.html" %}
						<!-- End Product widgets -->

						<hr class="mt-1 mb-4">

						<!-- Banner customer support -->
						{% include "./inc/banner-customer-support.html" %}
						<!-- Banner customer support -->
					</div>
					<!-- End Content -->

					<!-- Aside left -->
					<aside class="sidebar-home col-lg-3 order-lg-first mobile-sidebar">

						<!-- Side menu -->
						{% include "./inc/side-menu.html" %}
						<!-- End Side menu -->

						<!-- Side slider sale -->
						{% include "./inc/side-slider-sale.html" %}
						<!-- End Side slider sale -->

						<!-- Side newsletter -->
						{% include "./inc/side-newsletter.html" %}
						<!-- End Side newsletter -->

						<!-- Side slider comments -->
						{% include "./inc/side-slider-comments.html" %}
						<!-- End Side slider comments -->

						<!-- Side slider slider blog post -->
						{% include "./inc/side-slider-blog-post.html" %}
						<!-- End Side slider slider blog post -->
					</aside>
					<!-- End Aside left -->

				</div><!-- End .row -->
			</div><!-- End .container -->
		</main>
		<!-- End Main Content -->
	
{% endblock content %}