{% load static %}

<div class="row">
	{% for product in products %}
	<div class="col-6 col-sm-4">
		<div class="product-default inner-quickview inner-icon">
			<figure>
				<a href="product.html">
					<img src="{{product.image.url}}">
				</a>
				<div class="label-group">
					<div class="product-label label-hot">HOT</div>
					<div class="product-label label-sale">-20%</div>
				</div>
				<div class="btn-icon-group">
					<button class="btn-icon btn-add-cart" data-toggle="modal" data-target="#addCartModal"><i class="icon-shopping-cart"></i></button>
				</div>
				<a href="ajax/product-quick-view.html" class="btn-quickview" title="Quick View">Quick View</a> 
			</figure>
			<div class="product-details">
				<div class="category-wrap">
					<div class="category-list">
						<a href="category.html" 
							class="product-category">
							{{product.category.name}}</a>
					</div>
					<a href="#" class="btn-icon-wish"><i class="icon-heart"></i></a>
				</div>
				<h2 class="product-title">
					<a href="product.html">{{product.name}}</a>
				</h2>
				<div class="ratings-container">
					<div class="product-ratings">
						<span class="ratings" style="width:100%"></span><!-- End .ratings -->
						<span class="tooltiptext tooltip-top"></span>
					</div><!-- End .product-ratings -->
				</div><!-- End .product-container -->
				<div class="price-box">
					<span class="old-price">$90.00</span>
					<span class="product-price">$70.00</span>
				</div><!-- End .price-box -->
			</div><!-- End .product-details -->
		</div>
	</div>
	{% endfor %}
</div>