{% load static %}

<nav class="toolbox">
	<!-- Nav-left -->
	<div class="toolbox-left">
		<div class="toolbox-item toolbox-sort">
			<label>Sort By:</label>

			<div class="select-custom">
				<select name="orderby" class="form-control">
					<option value="menu_order" selected="selected">Default sorting</option>
					<option value="popularity">Sort by popularity</option>
					<option value="rating">Sort by average rating</option>
					<option value="date">Sort by newness</option>
					<option value="price">Sort by price: low to high</option>
					<option value="price-desc">Sort by price: high to low</option>
				</select>
			</div><!-- End .select-custom -->

			
		</div><!-- End .toolbox-item -->
	</div>
	<!-- End Nav-left -->

	<!-- Nav-right -->
	<div class="toolbox-right">
		<div class="toolbox-item toolbox-show">
			<label>Show:</label>

			<div class="select-custom">
				<select name="count" class="form-control">
					<option value="12">12</option>
					<option value="24">24</option>
					<option value="36">36</option>
				</select>
			</div><!-- End .select-custom -->
		</div><!-- End .toolbox-item -->

		<div class="toolbox-item layout-modes">
			<a href="category.html" class="layout-btn btn-grid active" title="Grid">
				<i class="icon-mode-grid"></i>
			</a>
			<a href="category-list.html" class="layout-btn btn-list" title="List">
				<i class="icon-mode-list"></i>
			</a>
		</div><!-- End .layout-modes -->
	</div>
	<!-- End Nav-right -->
</nav>