{% load static %}

<div class="widget widget-featured">
	<h3 class="widget-title">Featured</h3>
	
	<div class="widget-body">
		<div class="owl-carousel widget-featured-products">
			<div class="featured-col">
				<div class="product-default left-details product-widget">
					<figure>
						<a href="product.html">
							<img src="{% static 'assets/images/products/product-10.jpg' %}">
						</a>
					</figure>
					<div class="product-details">
						<h2 class="product-title">
							<a href="product.html">Product Short Name</a>
						</h2>
						<div class="ratings-container">
							<div class="product-ratings">
								<span class="ratings" style="width:100%"></span><!-- End .ratings -->
								<span class="tooltiptext tooltip-top"></span>
							</div><!-- End .product-ratings -->
						</div><!-- End .product-container -->
						<div class="price-box">
							<span class="product-price">$49.00</span>
						</div><!-- End .price-box -->
					</div><!-- End .product-details -->
				</div>
				<div class="product-default left-details product-widget">
					<figure>
						<a href="product.html">
							<img src="{% static 'assets/images/products/product-11.jpg' %}">
						</a>
					</figure>
					<div class="product-details">
						<h2 class="product-title">
							<a href="product.html">Product Short Name</a>
						</h2>
						<div class="ratings-container">
							<div class="product-ratings">
								<span class="ratings" style="width:100%"></span><!-- End .ratings -->
								<span class="tooltiptext tooltip-top"></span>
							</div><!-- End .product-ratings -->
						</div><!-- End .product-container -->
						<div class="price-box">
							<span class="product-price">$49.00</span>
						</div><!-- End .price-box -->
					</div><!-- End .product-details -->
				</div>
				<div class="product-default left-details product-widget">
					<figure>
						<a href="product.html">
							<img src="{% static 'assets/images/products/product-12.jpg' %}">
						</a>
					</figure>
					<div class="product-details">
						<h2 class="product-title">
							<a href="product.html">Product Short Name</a>
						</h2>
						<div class="ratings-container">
							<div class="product-ratings">
								<span class="ratings" style="width:100%"></span><!-- End .ratings -->
								<span class="tooltiptext tooltip-top"></span>
							</div><!-- End .product-ratings -->
						</div><!-- End .product-container -->
						<div class="price-box">
							<span class="product-price">$49.00</span>
						</div><!-- End .price-box -->
					</div><!-- End .product-details -->
				</div>
			</div><!-- End .featured-col -->

			<div class="featured-col">
				<div class="product-default left-details product-widget">
					<figure>
						<a href="product.html">
							<img src="{% static 'assets/images/products/product-13.jpg' %}">
						</a>
					</figure>
					<div class="product-details">
						<h2 class="product-title">
							<a href="product.html">Product Short Name</a>
						</h2>
						<div class="ratings-container">
							<div class="product-ratings">
								<span class="ratings" style="width:100%"></span><!-- End .ratings -->
								<span class="tooltiptext tooltip-top"></span>
							</div><!-- End .product-ratings -->
						</div><!-- End .product-container -->
						<div class="price-box">
							<span class="product-price">$49.00</span>
						</div><!-- End .price-box -->
					</div><!-- End .product-details -->
				</div>
				<div class="product-default left-details product-widget">
					<figure>
						<a href="product.html">
							<img src="{% static 'assets/images/products/product-14.jpg' %}">
						</a>
					</figure>
					<div class="product-details">
						<h2 class="product-title">
							<a href="product.html">Product Short Name</a>
						</h2>
						<div class="ratings-container">
							<div class="product-ratings">
								<span class="ratings" style="width:100%"></span><!-- End .ratings -->
								<span class="tooltiptext tooltip-top"></span>
							</div><!-- End .product-ratings -->
						</div><!-- End .product-container -->
						<div class="price-box">
							<span class="product-price">$49.00</span>
						</div><!-- End .price-box -->
					</div><!-- End .product-details -->
				</div>
				<div class="product-default left-details product-widget">
					<figure>
						<a href="product.html">
							<img src="{% static 'assets/images/products/product-8.jpg' %}">
						</a>
					</figure>
					<div class="product-details">
						<h2 class="product-title">
							<a href="product.html">Product Short Name</a>
						</h2>
						<div class="ratings-container">
							<div class="product-ratings">
								<span class="ratings" style="width:100%"></span><!-- End .ratings -->
								<span class="tooltiptext tooltip-top"></span>
							</div><!-- End .product-ratings -->
						</div><!-- End .product-container -->
						<div class="price-box">
							<span class="product-price">$49.00</span>
						</div><!-- End .price-box -->
					</div><!-- End .product-details -->
				</div>
			</div><!-- End .featured-col -->
		</div><!-- End .widget-featured-slider -->
	</div><!-- End .widget-body -->
</div>