{% load static %}

<div class="widget">
	<h3 class="widget-title">
		<a data-toggle="collapse" href="#widget-body-5" role="button" aria-expanded="true" aria-controls="widget-body-5">Brand</a>
	</h3>

	<div class="collapse show" id="widget-body-5">
		<div class="widget-body">
			<ul class="cat-list">
				<li><a href="#">Adidas</a></li>
				<li><a href="#">Calvin Klein (26)</a></li>
				<li><a href="#">Diesel (3)</a></li>
				<li><a href="#">Lacoste (8)</a></li>
			</ul>
		</div><!-- End .widget-body -->
	</div><!-- End .collapse -->
</div>