{% load static %}

<div class="banners-container m-b-2 owl-carousel owl-theme" data-owl-options="{
	'dots': false,
	'margin': 20,
	'loop': false,
	'responsive': {
		'480': {
			'items': 2
		},
		'768': {
			'items': 3
		}
	}
}">
	<div class="banner banner1 banner-hover-shadow mb-2">
		<figure>
			<img src="{% static 'assets/images/banners/banner-1.jpg' %}" alt="banner">
		</figure>
		<div class="banner-layer banner-layer-middle">
			<h3 class="m-b-2">Porto Watches</h3>
			<h4 class="m-b-4 text-primary"><sup class="text-dark"><del>20%</del></sup>30%<sup>OFF</sup></h4>
			<a href="#" class="text-dark text-uppercase ls-10">Shop Now</a>
		</div>
	</div><!-- End .banner -->
	<div class="banner banner2 text-uppercase banner-hover-shadow mb-2">
		<figure>
			<img src="{% static 'assets/images/banners/banner-2.jpg' %}" alt="banner">
		</figure>
		<div class="banner-layer banner-layer-middle text-center pt-2">
			<h3 class="m-b-1 ls-n-20">Deal Promos</h3>
			<h4 class="m-b-4 text-body">Starting at $99</h4>
			<a href="#" class="text-dark text-uppercase ls-10">Shop Now</a>
		</div>
	</div><!-- End .banner -->
	<div class="banner banner3 banner-hover-shadow mb-2">
		<figure>
			<img src="{% static 'assets/images/banners/banner-3.jpg' %}" alt="banner">
		</figure>
		<div class="banner-layer banner-layer-middle text-right">
			<h3 class="m-b-2">Handbags</h3>
			<h4 class="mb-3 pb-1 text-secondary text-uppercase">Starting at $99</h4>
			<a href="#" class="text-dark text-uppercase ls-10">Shop Now</a>
		</div>
	</div><!-- End .banner -->
</div>