{% load static %}

<div class="feature-boxes-container">
	<div class="row">
		<div class="col-md-4">
			<div class="feature-box px-sm-3 feature-box-simple text-center">
				<i class="icon-earphones-alt"></i>

				<div class="feature-box-content">
					<h3 class="m-b-1">Customer Support</h3>
					<h5 class="m-b-3">Need Assistance?</h5>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
				</div><!-- End .feature-box-content -->
			</div><!-- End .feature-box -->
		</div><!-- End .col-md-4 -->

		<div class="col-md-4">
			<div class="feature-box px-sm-3 feature-box-simple text-center">
				<i class="icon-credit-card"></i>

				<div class="feature-box-content">
					<h3 class="m-b-1">Secured Payment</h3>
					<h5 class="m-b-3">Safe & Fast</h5>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
				</div><!-- End .feature-box-content -->
			</div><!-- End .feature-box -->
		</div><!-- End .col-md-4 -->

		<div class="col-md-4">
			<div class="feature-box px-sm-3 feature-box-simple text-center">
				<i class="icon-action-undo"></i>

				<div class="feature-box-content">
					<h3 class="m-b-1">Returns</h3>
					<h5 class="m-b-3">Easy & Free</h5>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis nec vestibulum magna, et dapib.</p>
				</div><!-- End .feature-box-content -->
			</div><!-- End .feature-box -->
		</div><!-- End .col-md-4 -->
	</div>
</div>