{% load static %}

<div class="brands-slider owl-carousel owl-theme images-center mb-3" data-owl-options="{
	'responsive': {
		'768': {
			'items': 5
		}
	}
}">
	<img src="{% static 'assets/images/brands/brand1.png' %}" width="140" height="60" alt="brand">
	<img src="{% static 'assets/images/brands/brand2.png' %}" width="140" height="60" alt="brand">
	<img src="{% static 'assets/images/brands/brand3.png' %}" width="140" height="60" alt="brand">
	<img src="{% static 'assets/images/brands/brand4.png' %}" width="140" height="60" alt="brand">
	<img src="{% static 'assets/images/brands/brand5.png' %}" width="140" height="60" alt="brand">
	<img src="{% static 'assets/images/brands/brand6.png' %}" width="140" height="60" alt="brand">
</div>