{% load static %}

<div class="row products-widgets">
	<div class="col-sm-6 col-md-4 pb-4 pb-md-0">
		<div class="product-column">
			<h3 class="section-sub-title ls-n-20">Top Rated Products</h3>

			<div class="product-default left-details product-widget mb-3">
				<figure>
					<a href="product.html">
						<img src="{% static 'assets/images/products/home-featured-3.jpg' %}">
					</a>
				</figure>
				<div class="product-details">
					<h2 class="product-title">
						<a href="product.html">Product Short Name</a>
					</h2>
					<div class="ratings-container">
						<div class="product-ratings">
							<span class="ratings" style="width:100%"></span><!-- End .ratings -->
							<span class="tooltiptext tooltip-top"></span>
						</div><!-- End .product-ratings -->
					</div><!-- End .product-container -->
					<div class="price-box">
						<span class="product-price">$49.00</span>
					</div><!-- End .price-box -->
				</div><!-- End .product-details -->
			</div>
			<div class="product-default left-details product-widget mb-3">
				<figure>
					<a href="product.html">
						<img src="{% static 'assets/images/products/home-featured-4.jpg' %}">
					</a>
				</figure>
				<div class="product-details">
					<h2 class="product-title">
						<a href="product.html">Product Short Name</a>
					</h2>
					<div class="ratings-container">
						<div class="product-ratings">
							<span class="ratings" style="width:100%"></span><!-- End .ratings -->
							<span class="tooltiptext tooltip-top"></span>
						</div><!-- End .product-ratings -->
					</div><!-- End .product-container -->
					<div class="price-box">
						<span class="product-price">$49.00</span>
					</div><!-- End .price-box -->
				</div><!-- End .product-details -->
			</div>
			<div class="product-default left-details product-widget mb-3">
				<figure>
					<a href="product.html">
						<img src="{% static 'assets/images/products/small/product-1.jpg' %}">
					</a>
				</figure>
				<div class="product-details">
					<h2 class="product-title">
						<a href="product.html">Product Short Name</a>
					</h2>
					<div class="ratings-container">
						<div class="product-ratings">
							<span class="ratings" style="width:100%"></span><!-- End .ratings -->
							<span class="tooltiptext tooltip-top"></span>
						</div><!-- End .product-ratings -->
					</div><!-- End .product-container -->
					<div class="price-box">
						<span class="product-price">$49.00</span>
					</div><!-- End .price-box -->
				</div><!-- End .product-details -->
			</div>
		</div><!-- End .product-column -->
	</div>

	<div class="col-sm-6 col-md-4 pb-4 pb-md-0">
		<div class="product-column">
			<h3 class="section-sub-title ls-n-20">Best Selling Products</h3>

			<div class="product-default left-details product-widget mb-3">
				<figure>
					<a href="product.html">
						<img src="{% static 'assets/images/products/home-featured-1.jpg' %}">
					</a>
				</figure>
				<div class="product-details">
					<h2 class="product-title">
						<a href="product.html">Product Short Name</a>
					</h2>
					<div class="ratings-container">
						<div class="product-ratings">
							<span class="ratings" style="width:100%"></span><!-- End .ratings -->
							<span class="tooltiptext tooltip-top"></span>
						</div><!-- End .product-ratings -->
					</div><!-- End .product-container -->
					<div class="price-box">
						<span class="product-price">$49.00</span>
					</div><!-- End .price-box -->
				</div><!-- End .product-details -->
			</div>
			<div class="product-default left-details product-widget mb-3">
				<figure>
					<a href="product.html">
						<img src="{% static 'assets/images/products/home-featured-2.jpg' %}">
					</a>
				</figure>
				<div class="product-details">
					<h2 class="product-title">
						<a href="product.html">Product Short Name</a>
					</h2>
					<div class="ratings-container">
						<div class="product-ratings">
							<span class="ratings" style="width:100%"></span><!-- End .ratings -->
							<span class="tooltiptext tooltip-top"></span>
						</div><!-- End .product-ratings -->
					</div><!-- End .product-container -->
					<div class="price-box">
						<span class="product-price">$49.00</span>
					</div><!-- End .price-box -->
				</div><!-- End .product-details -->
			</div>
			<div class="product-default left-details product-widget mb-3">
				<figure>
					<a href="product.html">
						<img src="{% static 'assets/images/products/home-featured-5.jpg' %}">
					</a>
				</figure>
				<div class="product-details">
					<h2 class="product-title">
						<a href="product.html">Product Short Name</a>
					</h2>
					<div class="ratings-container">
						<div class="product-ratings">
							<span class="ratings" style="width:100%"></span><!-- End .ratings -->
							<span class="tooltiptext tooltip-top"></span>
						</div><!-- End .product-ratings -->
					</div><!-- End .product-container -->
					<div class="price-box">
						<span class="product-price">$49.00</span>
					</div><!-- End .price-box -->
				</div><!-- End .product-details -->
			</div>
		</div><!-- End .product-column -->
	</div>

	<div class="col-sm-6 col-md-4 pb-4 pb-md-0">
		<div class="product-column">
			<h3 class="section-sub-title ls-n-20">Latest Products</h3>

			<div class="product-default left-details product-widget mb-3">
				<figure>
					<a href="product.html">
						<img src="{% static 'assets/images/products/home-featured-4.jpg' %}">
					</a>
				</figure>
				<div class="product-details">
					<h2 class="product-title">
						<a href="product.html">Product Short Name</a>
					</h2>
					<div class="ratings-container">
						<div class="product-ratings">
							<span class="ratings" style="width:100%"></span><!-- End .ratings -->
							<span class="tooltiptext tooltip-top"></span>
						</div><!-- End .product-ratings -->
					</div><!-- End .product-container -->
					<div class="price-box">
						<span class="product-price">$49.00</span>
					</div><!-- End .price-box -->
				</div><!-- End .product-details -->
			</div>
			<div class="product-default left-details product-widget mb-3">
				<figure>
					<a href="product.html">
						<img src="{% static 'assets/images/products/small/product-1.jpg' %}">
					</a>
				</figure>
				<div class="product-details">
					<h2 class="product-title">
						<a href="product.html">Product Short Name</a>
					</h2>
					<div class="ratings-container">
						<div class="product-ratings">
							<span class="ratings" style="width:100%"></span><!-- End .ratings -->
							<span class="tooltiptext tooltip-top"></span>
						</div><!-- End .product-ratings -->
					</div><!-- End .product-container -->
					<div class="price-box">
						<span class="product-price">$49.00</span>
					</div><!-- End .price-box -->
				</div><!-- End .product-details -->
			</div>
			<div class="product-default left-details product-widget mb-3">
				<figure>
					<a href="product.html">
						<img src="{% static 'assets/images/products/home-featured-3.jpg' %}">
					</a>
				</figure>
				<div class="product-details">
					<h2 class="product-title">
						<a href="product.html">Product Short Name</a>
					</h2>
					<div class="ratings-container">
						<div class="product-ratings">
							<span class="ratings" style="width:100%"></span><!-- End .ratings -->
							<span class="tooltiptext tooltip-top"></span>
						</div><!-- End .product-ratings -->
					</div><!-- End .product-container -->
					<div class="price-box">
						<span class="product-price">$49.00</span>
					</div><!-- End .price-box -->
				</div><!-- End .product-details -->
			</div>
		</div><!-- End .product-column -->
	</div>
</div>