{% load static %}

<div class="widget widget-testimonials">
<div class="owl-carousel owl-theme dots-left">
	<div class="testimonial">
		<div class="testimonial-owner">
			<figure>
				<img src="{% static 'assets/images/clients/client-1.jpg' %}" alt="client">
			</figure>

			<div>
				<h4 class="testimonial-title">john Smith</h4>
				<span>CEO &amp; Founder</span>
			</div>
		</div><!-- End .testimonial-owner -->

		<blockquote class="ml-4 pr-0">
			<p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mi.</p>
		</blockquote>
	</div><!-- End .testimonial -->

	<div class="testimonial">
		<div class="testimonial-owner">
			<figure>
				<img src="{% static 'assets/images/clients/client-2.jpg' %}" alt="client">
			</figure>

			<div>
				<h4 class="testimonial-title">Dae Smith</h4>
				<span>CEO &amp; Founder</span>
			</div>
		</div><!-- End .testimonial-owner -->

		<blockquote class="ml-4 pr-0">
			<p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mi.</p>
		</blockquote>
	</div><!-- End .testimonial -->

	<div class="testimonial">
		<div class="testimonial-owner">
			<figure>
				<img src="{% static 'assets/images/clients/client-3.jpg' %}" alt="client">
			</figure>

			<div>
				<h4 class="testimonial-title">John Doe</h4>
				<span>CEO &amp; Founder</span>
			</div>
		</div><!-- End .testimonial-owner -->

		<blockquote class="ml-4 pr-0">
			<p>Lorem ipsum dolor sit amet, consectetur elitad adipiscing Cras non placerat mi.</p>
		</blockquote>
	</div><!-- End .testimonial -->
</div><!-- End .testimonials-slider -->
</div>