{% load static %}

<div class="widget widget-posts post-date-in-media">
	<div class="owl-carousel owl-theme dots-left dots-m-0" data-owl-options="{
		'margin': 20
	}">
		<article class="post">
            <div class="post-media">
                <a href="single.html">
                    <img src="{% static 'assets/images/blog/home/post-1.jpg' %}" alt="Post">
                </a>
				<div class="post-date">
					<span class="day">29</span>
					<span class="month">Jun</span>
				</div><!-- End .post-date -->
            </div><!-- End .post-media -->

            <div class="post-body">
                <h2 class="post-title m-b-2">
                    <a href="single.html">Fashion Trends</a>
                </h2>

                <div class="post-content">
                    <p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per incep tos himens.</p>

                    <a href="single.html" class="read-more">read more <i class="icon-right-open"></i></a>
                </div><!-- End .post-content -->
            </div><!-- End .post-body -->
		</article>

		<article class="post">
			<div class="post-media">
				<a href="single.html">
					<img src="{% static 'assets/images/blog/home/post-2.jpg' %}" alt="Post">
				</a>
				<div class="post-date">
					<span class="day">29</span>
					<span class="month">Jun</span>
				</div><!-- End .post-date -->
			</div><!-- End .post-media -->

			<div class="post-body">
				<h2 class="post-title m-b-2">
					<a href="single.html">Fashion Trends</a>
				</h2>

				<div class="post-content">
					<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per incep tos himens.</p>

					<a href="single.html" class="read-more">read more <i class="icon-right-open"></i></a>
				</div><!-- End .post-content -->
			</div><!-- End .post-body -->
		</article>

		<article class="post">
			<div class="post-media">
				<a href="single.html">
					<img src="{% static 'assets/images/blog/home/post-3.jpg' %}" alt="Post">
				</a>
				<div class="post-date">
					<span class="day">29</span>
					<span class="month">Jun</span>
				</div><!-- End .post-date -->
			</div><!-- End .post-media -->

			<div class="post-body">
				<h2 class="post-title m-b-2">
					<a href="single.html">Fashion Trends</a>
				</h2>

				<div class="post-content">
					<p>Euismod atras vulputate iltricies etri elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per incep tos himens.</p>

					<a href="single.html" class="read-more">read more <i class="icon-right-open"></i></a>
				</div><!-- End .post-content -->
			</div><!-- End .post-body -->
		</article>
	</div><!-- End .posts-slider -->
</div>