{% load static %}

<div class="widget widget-banners px-5 pb-3 text-center">
	<div class="owl-carousel owl-theme">
		<div class="banner d-flex flex-column align-items-center">
			<h3 class="badge-sale bg-primary d-flex flex-column align-items-center justify-content-center text-uppercase"><em class="pt-3 ls-0">Sale</em>Many Item</h3>
			<h4 class="sale-text font1 text-uppercase m-b-3">45<sup>%</sup><sub>off</sub></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<a href="#" class="btn btn-dark btn-md font1">View Sale</a>
		</div><!-- End .banner -->

		<div class="banner d-flex flex-column align-items-center">
			<h3 class="badge-sale bg-primary d-flex flex-column align-items-center justify-content-center text-uppercase"><em class="pt-3 ls-0">Sale</em>Many Item</h3>
			<h4 class="sale-text font1 text-uppercase m-b-3">45<sup>%</sup><sub>off</sub></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<a href="#" class="btn btn-dark btn-md font1">View Sale</a>
		</div><!-- End .banner -->

		<div class="banner d-flex flex-column align-items-center">
			<h3 class="badge-sale bg-primary d-flex flex-column align-items-center justify-content-center text-uppercase"><em class="pt-3 ls-0">Sale</em>Many Item</h3>
			<h4 class="sale-text font1 text-uppercase m-b-3">45<sup>%</sup><sub>off</sub></h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
			<a href="#" class="btn btn-dark btn-md font1">View Sale</a>
		</div><!-- End .banner -->
	</div><!-- End .banner-slider -->
</div>