{% extends "base.html" %}
{% load static %}
{% block page-title %}{% endblock page-title %}

{% block content %}

<!-- Main -->
<main class="main">

	<!-- Benner-top-promo -->
	{% include "./inc/benner-top-promo.html" %}
	<!-- End Benner-top-promo -->

	<!-- Container Aside and Main Content -->
	<div class="container">

		<!-- Breadcrumb -->
		{% include "./inc/breadcrumb.html" %}
		<!-- End Breadcrumb -->

		<div class="row">
			<!-- Content-->
			<div class="col-lg-9 main-content">
				<!-- Nav-toolbox -->
				{% include "./inc/nav-toolbox.html" %}
				<!-- End Nav-toolbox -->

				<!-- Content -->
				{% include "./inc/content.html" %}
				<!-- End Content -->

				<!-- Nav-pagination -->
				{% include "./inc/nav-pagination.html" %}
				<!-- End Nav-pagination -->
			</div>
			<!-- End Content-->

			<!-- Sidebar -->
			<div class="sidebar-overlay"></div>
			<div class="sidebar-toggle"><i class="fas fa-sliders-h"></i></div>
			<aside class="sidebar-shop col-lg-3 order-lg-first mobile-sidebar">
				<div class="sidebar-wrapper">

					<!-- Side-category -->
					{% include "./inc/side-category.html" %}
					<!-- End Side-category -->

					<!-- Side-price -->
					{% include "./inc/side-price.html" %}
					<!-- End Side-price -->

					<!-- Side-size -->
					{% include "./inc/side-size.html" %}
					<!-- End Side-size -->

					<!-- Side-brand -->
					{% include "./inc/side-brand.html" %}
					<!-- Side-brand -->

					<!-- Side-color -->
					{% include "./inc/side-color.html" %}
					<!-- End Side-color -->

					<!-- Side-featured -->
					{% include "./inc/side-featured.html" %}
					<!-- End Side-featured -->
					
					<!-- Side-custome-widget -->
					{% include "./inc/side-custom-widget.html" %}
					<!-- Side-custome-widget -->

				</div><!-- End .sidebar-wrapper -->
			</aside>
			<!-- End Sidebar -->
		</div><!-- End .row -->
	</div>
	<!-- End Container Aside and Main Content -->
	
	<div class="mb-3"></div>

</main>
<!-- End Main -->

{% endblock content %}